.nav {
  height: 100px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: rgb(25, 25, 25);
  /*
  border-bottom: 1px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(114, 111, 111);
  */

  z-index: 100;
}

.left_section {
  padding-left: 1%;
  display: flex;
  align-items: center;
  width: 260px;
}

.right_section {
  width: 400px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.sitelogo {
  padding-left: 10px;
  padding-right: 20px;
  height: 80px;
}

.title {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  white-space: nowrap;
}




.drop_button {

  padding-top: 40px;
  text-align: center;
  
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop_content {
  padding-top: 41px;
  display: none;
  position: relative;
  background-color: rgb(85, 85, 85);;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop_content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

.drop_content a:hover {
  transition: all linear 0.3s;
  color: rgb(85, 85, 85);
  background-color: #ddd;
}

.drop_button:hover .drop_content {
  display: inline-block;
  position: relative;
  align-items: center;
}

.drop_button:hover {
  background-color: rgb(85, 85, 85);
}
